.mainContainer {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 25px;

  grid-template-columns: repeat(5, 1fr);
}
.individual {
  margin: auto;
  background-color: #2e2e2e;
  color: aliceblue;
  box-sizing: border-box;
  padding-bottom: 20px;
  border-radius: 15px;
  cursor: pointer;
}
.individual:hover {
  border: 2px solid white;
}
.individual > div > img {
  width: 100%;
  
  margin: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

@media all and (min-width: 500px) and (max-width: 900px) {
  .mainContainer {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }

  .individual {
    font-size: larger;
  }
}

@media all and (min-width: 100px) and (max-width: 499px) {
  .mainContainer {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
  .individual {
    font-size: larger;
  }
}
